@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* 
.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
}
 */

/* .barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
} */


/* .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
} */

:root{
  --main-color: rgb(37, 77, 77);
  --text-color: rgb(47, 46, 46);
  --footer-color: rgb(250, 250, 250);
  --bg-color: rgb(255, 255, 255);
  --bg-linear: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
  --footer-bg: #2E2F32;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}

body{
    color: var(--text-color);
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

/* Navigation */
.nav {
}
.nav__inner {
  display: flex;
  padding: 47px 0 91px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 42px;
  color: var(--text-color);
}

.nav__group {
  display: flex;
  margin-top: 15px;
}

.nav__menu {
  display: flex;
  list-style: none;
  gap: 75px;
}

.nav__menu li {
  min-width: 100px;
  text-align: center;
}

.nav__menu-link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  position: relative;
  padding-bottom: 5px;
  transition: font-weight 0.3s ease;
}

.nav__menu-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav__menu-link:hover{
  font-weight: 700;
}

.nav__menu-link:hover::after {
  width: 100%; /* Полная ширина при наведении */
}

.nav__search {
  margin-left: 50px;
}

/* Header */

.header {
  position: relative;
}

.header .container{
  padding: 0;
}

.header__inner {
  position: relative;
  height: 739px;
  margin: 0 auto;
}
.header__bg-img {
  position: absolute;
  right: 0;
}
.header__main-content {
  position: absolute;
  z-index: 1;
  background: var(--bg-linear);
  top: 95px;
}

.header__group{
  margin: 138px 168px 138px 100px;
  max-width: 425px;
}

h1{
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 51px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.header-p {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 32px;
  letter-spacing: 0.053em;
  line-height: 1.34em;
}

/* Services */

.services {
  position: relative;
}

.services .container{
}

.services__inner {
  padding: 15px 75px 110px;
}

.services h2{
  text-align: center;

}

h2{
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 51px;
  color: var(--text-color);
  text-transform: capitalize;
}

.services__flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.circle{
  max-width: 103px;
  max-height: 103px;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.services-icon {
}


h3{
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 27px;
}

.services__flex-item {
  margin-top: 45px;

}
.services-p {
  font-family: "Playfair Display", serif;
  max-width: 158px;
  font-size: 16px;
  color: var(--text-color);
  margin-top: 10px;
}

.bg-opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--main-color);
  opacity: 0.2;
}

/* About us */

.about {
}

.about .container{
  padding-right: 70px;
}

.about__inner {
  display: flex;
  padding: 75px 0 100px;
  align-items: center;
  gap: 85px;
}
.about-img {
  max-width: 735px;
  width: 100%;
  height: auto;
  object-fit: contain;
  flex-shrink: 1;
}
.about__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}
.about-p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 31px;
  margin-top: 27px;
  line-height: 1.6em;
}

.about__content-link{
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
}

/* Our Projects */

.projects {
}
.projects__inner {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding-bottom: 90px;
}
.progects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
}
.projects__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.projects-p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  max-width: 178px;
}

/* Testimonial */

.testimonial {
}
.testimonial__inner {
  padding-bottom: 70px;
}
.testimonial__inner h2{
  text-align: center;
}
.testimonial__flex {
  display: flex;
  padding: 80px 0;
  gap: 130px;
}
.person {
  display: flex;
  gap: 30px;
  align-items: center;
}
.person__content h3{
  padding-bottom: 20px;
}
.person-p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 17px;
  max-width: 300px;
}

/* Footer */

.footer {
  background-color: var(--footer-bg);
  color: var(--footer-color);
}

.footer h3{
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
}

.footer__inner {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  gap: 138px;
}
.footer__copyright {
  max-width: 290px;
}
.footer .logo {
  color: var(--footer-color);
}
.footer-p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 1.71em;
  color: #fafafa;
  padding-top: 8px;
}
.footer__icon-box {
  display: flex;
  gap: 36px;
  margin: 45px 0;
}

.footer__icon-box i{
  font-size: 26px;
  transition: color 0.3s ease;
}

.footer__icon-box i:hover{
  color: #4baf7a;
}

.articles {
  list-style: none;
  max-width: 200px;
}
.ul-caption {

  padding-top: 8px;
  padding-bottom: 10px;
}

.articles li{
  margin-bottom: 10px;
}

.footer__articles-link {
  color: var(--footer-color);
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  transition: color 0.3s ease ;
}

.footer__articles-link:hover{
  color: #4baf7a;
}

.footer__right h3{
  padding-top: 10px;
  padding-bottom: 19px;
}
